@media screen and (max-width: 578px) {
   .extra{
     width : 90%;
   }
 }
 @media (max-width: 1024px){
 .bg-image {
    background-attachment: scroll;
}
}
 @media (min-width: 768px){
.testimonial-box .description {
    padding: 0 5rem;
}
}